<div class="page-content page-settings">
	<ul>
		{{!--<li><button><i class="icon-user"></i>Profile</button></li>
		<li>{{#link-to 'settings.sharing'}}<i class="ico icon-share"></i>Sharing <i class="icon-arrow-right3"></i>{{/link-to}}</li>--}}
		<li>{{#link-to 'settings.signout' class="btn-red"}}<i class="ico icon-logout"></i>Sign out{{/link-to}}</li>
	</ul>
</div><!--/.page-settings-->
