@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?kelneo');
	src: url('fonts/icomoon.eot?#iefixkelneo') format('embedded-opentype'),
		url('fonts/icomoon.woff?kelneo') format('woff'),
		url('fonts/icomoon.ttf?kelneo') format('truetype'),
		url('fonts/icomoon.svg?kelneo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e60a";
}
.icon-share:before {
	content: "\e60c";
}
.icon-star:before {
	content: "\e600";
}
.icon-search:before {
	content: "\e602";
}
.icon-cog:before {
	content: "\e601";
}
.icon-clock:before {
	content: "\e603";
}
.icon-logout:before {
	content: "\e60b";
}
.icon-plus:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e605";
}
.icon-arrow-right3:before {
	content: "\e60d";
}
.icon-arrow-down2:before {
	content: "\e609";
}
.icon-ellipsis:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-facebook:before {
	content: "\e607";
}
