<section class="page-content page-signin">
	<h1>Sign In</h1>

	<p>using one of the social networks</p>

	<button {{action 'signinWithfacebook'}}><i class="icon-facebook"></i></button>
</section><!--/.page-signin-->
